.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 1em;
  padding-left: 1em;
  width: 100%;
}

button {
  background-color: white;
  /* border: none; */
  text-decoration: underline;
  cursor: pointer;
}

code-display {
  width: 100%;
}
